/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    min-height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

// smash-css

#HTML_1 {
    height: 726px;
    width: 447px;
    perspective-origin: 223.5px 363px;
    transform-origin: 223.5px 363px;
    background: rgb(235, 235, 235) url("http://tournamentscheduler.net/resources/images/tilebg.png") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#HTML_1*/

#SCRIPT_2, #SCRIPT_3, #META_5, #LINK_8, #META_10, #META_12, #META_14, #LINK_16, #LINK_18, #STYLE_20, #SCRIPT_22, #SCRIPT_24, #SCRIPT_26, #SCRIPT_28, #STYLE_30, #STYLE_32, #SCRIPT_229 {
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_2, #SCRIPT_3, #META_5, #LINK_8, #META_10, #META_12, #META_14, #LINK_16, #LINK_18, #STYLE_20, #SCRIPT_22, #SCRIPT_24, #SCRIPT_26, #SCRIPT_28, #STYLE_30, #STYLE_32, #SCRIPT_229*/

#HEAD_4, #TITLE_6, #META_9, #META_13, #LINK_17, #SCRIPT_21, #SCRIPT_25, #SCRIPT_29, #SCRIPT_230 {
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#HEAD_4, #TITLE_6, #META_9, #META_13, #LINK_17, #SCRIPT_21, #SCRIPT_25, #SCRIPT_29, #SCRIPT_230*/

#BASE_7 {
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BASE_7*/

#META_11, #META_15, #SCRIPT_23, #STYLE_31 {
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#META_11, #META_15, #SCRIPT_23, #STYLE_31*/

#SCRIPT_19, #SCRIPT_27 {
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_19, #SCRIPT_27*/

#BODY_33 {
    height: 726px;
    width: 447px;
    perspective-origin: 223.5px 363px;
    transform-origin: 223.5px 363px;
    background: rgb(235, 235, 235) url("http://tournamentscheduler.net/resources/images/tilebg.png") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#BODY_33*/

#DIV_34 {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.74902) 0px 0px 28px -1px;
    height: 1314.42px;
    left: 0px;
    max-width: 889px;
    min-height: 100%;
    position: relative;
    right: 0px;
    top: 0px;
    width: 447px;
    perspective-origin: 223.5px 657.203px;
    transform-origin: 223.5px 657.203px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#DIV_34*/

#DIV_35 {
    height: 1135.42px;
    width: 447px;
    perspective-origin: 223.5px 567.703px;
    transform-origin: 223.5px 567.703px;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_35*/

#H1_36 {
    height: 92px;
    width: 447px;
    perspective-origin: 223.5px 46px;
    transform-origin: 223.5px 46px;
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#H1_36*/

#A_37 {
    color: rgb(134, 0, 0);
    display: block;
    height: 92px;
    max-width: 391px;
    text-decoration: none;
    width: 391px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 195.5px 46px;
    transform-origin: 195.5px 46px;
    background: rgba(0, 0, 0, 0) url("http://tournamentscheduler.net/resources/images/logo.png") no-repeat scroll 0% 0% / contain padding-box border-box;
    border: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 26.8125px 28px;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_37*/

#SPAN_38 {
    color: rgb(134, 0, 0);
    display: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#SPAN_38*/

#DIV_39 {
    height: 989.797px;
    min-height: 100%;
    text-align: justify;
    width: 447px;
    perspective-origin: 223.5px 494.891px;
    transform-origin: 223.5px 494.891px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#DIV_39*/

#DIV_40, #DIV_191 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 13px auto;
    padding: 0px 2%;
}/*#DIV_40, #DIV_191*/

#INS_41, #INS_192 {
    display: none;
    text-align: justify;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#INS_41, #INS_192*/

#SCRIPT_42, #SCRIPT_43, #SCRIPT_186, #SCRIPT_193, #SCRIPT_203 {
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_42, #SCRIPT_43, #SCRIPT_186, #SCRIPT_193, #SCRIPT_203*/

#DIV_44 {
    height: 567px;
    text-align: justify;
    width: 429.125px;
    perspective-origin: 223.5px 283.5px;
    transform-origin: 223.5px 283.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 22.3438px 0px 0px;
    padding: 0px 8.9375px;
}/*#DIV_44*/

#H2_45, #H2_196 {
    color: rgb(134, 0, 0);
    height: 38px;
    text-align: justify;
    width: 399.094px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 199.547px 20.5px;
    transform-origin: 199.547px 20.5px;
    border-top: 0px none rgb(134, 0, 0);
    border-right: 0px none rgb(134, 0, 0);
    border-bottom: 1px solid rgb(134, 0, 0);
    border-left: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 19.5px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 21.4531px 12.8594px 8.57812px;
    outline: rgb(134, 0, 0) none 0px;
    padding: 0px 0px 2px;
}/*#H2_45, #H2_196*/

#P_46 {
    height: 38px;
    text-align: justify;
    width: 429.125px;
    perspective-origin: 214.562px 19px;
    transform-origin: 214.562px 19px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 20px 0px 12px;
}/*#P_46*/

#TABLE_47 {
    border-collapse: collapse;
    height: 338px;
    table-layout: fixed;
    text-align: left;
    width: 429px;
    perspective-origin: 214.5px 170.5px;
    transform-origin: 214.5px 170.5px;
    border-top: 3px solid rgb(204, 204, 204);
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0.0625px;
}/*#TABLE_47*/

#THEAD_48 {
    border-collapse: collapse;
    display: none;
    height: auto;
    text-align: left;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-top: 0px none rgb(204, 204, 204);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#THEAD_48*/

#TR_49 {
    border-collapse: collapse;
    height: auto;
    text-align: left;
    vertical-align: middle;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-top: 0px none rgb(204, 204, 204);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 1%;
}/*#TR_49*/

#TH_50 {
    border-collapse: collapse;
    height: auto;
    text-align: left;
    vertical-align: middle;
    width: 5%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 1%;
}/*#TH_50*/

#TH_51 {
    border-collapse: collapse;
    height: auto;
    text-align: left;
    vertical-align: middle;
    width: 40%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 1%;
}/*#TH_51*/

#TH_52, #TH_53, #TH_55, #TH_57 {
    border-collapse: collapse;
    height: auto;
    vertical-align: middle;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 1%;
}/*#TH_52, #TH_53, #TH_55, #TH_57*/

#TH_54, #TH_56 {
    border-collapse: collapse;
    height: auto;
    vertical-align: middle;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 1%;
}/*#TH_54, #TH_56*/

#TH_58 {
    border-collapse: collapse;
    height: auto;
    vertical-align: middle;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 1%;
}/*#TH_58*/

#TBODY_59 {
    border-collapse: collapse;
    height: 338px;
    text-align: left;
    width: 429px;
    perspective-origin: 214.5px 169px;
    transform-origin: 214.5px 169px;
    border-top: 0px none rgb(204, 204, 204);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#TBODY_59*/

#TR_60, #TR_170 {
    border-collapse: collapse;
    height: 19.4375px;
    text-align: left;
    vertical-align: middle;
    width: 420.438px;
    perspective-origin: 214.5px 14.5px;
    transform-origin: 214.5px 14.5px;
    border-top: 0px none rgb(204, 204, 204);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TR_60, #TR_170*/

#TD_61, #TD_171 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 12.4375px;
    perspective-origin: 10.5px 14.5px;
    transform-origin: 10.5px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_61, #TD_171*/

#TD_62, #TD_172 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 162.438px;
    perspective-origin: 85.5px 14.5px;
    transform-origin: 85.5px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_62, #TD_172*/

#TD_63, #TD_173 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 24.4375px;
    perspective-origin: 16.5px 14.5px;
    transform-origin: 16.5px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_63, #TD_173*/

#TD_64, #TD_65, #TD_67, #TD_69, #TD_174, #TD_176, #TD_178 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 25.4375px;
    perspective-origin: 17px 14.5px;
    transform-origin: 17px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_64, #TD_65, #TD_67, #TD_69, #TD_174, #TD_176, #TD_178*/

#TD_66, #TD_68, #TD_175, #TD_179 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 25.4375px;
    perspective-origin: 17px 14.5px;
    transform-origin: 17px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_66, #TD_68, #TD_175, #TD_179*/

#TR_70, #TR_80, #TR_90, #TR_100, #TR_110, #TR_120, #TR_130, #TR_140, #TR_150, #TR_160 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: middle;
    width: 420.438px;
    perspective-origin: 214.5px 14px;
    transform-origin: 214.5px 14px;
    border-top: 0px none rgb(204, 204, 204);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TR_70, #TR_80, #TR_90, #TR_100, #TR_110, #TR_120, #TR_130, #TR_140, #TR_150, #TR_160*/

#TD_71, #TD_81, #TD_91, #TD_101, #TD_111, #TD_121, #TD_131, #TD_141, #TD_151, #TD_161 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 12.4375px;
    perspective-origin: 10.5px 14px;
    transform-origin: 10.5px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_71, #TD_81, #TD_91, #TD_101, #TD_111, #TD_121, #TD_131, #TD_141, #TD_151, #TD_161*/

#TD_72, #TD_82, #TD_92, #TD_102, #TD_112, #TD_122, #TD_132, #TD_142, #TD_152, #TD_162 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 162.438px;
    perspective-origin: 85.5px 14px;
    transform-origin: 85.5px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_72, #TD_82, #TD_92, #TD_102, #TD_112, #TD_122, #TD_132, #TD_142, #TD_152, #TD_162*/

#TD_73, #TD_83, #TD_93, #TD_103, #TD_113, #TD_123, #TD_133, #TD_143, #TD_153, #TD_163 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 24.4375px;
    perspective-origin: 16.5px 14px;
    transform-origin: 16.5px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_73, #TD_83, #TD_93, #TD_103, #TD_113, #TD_123, #TD_133, #TD_143, #TD_153, #TD_163*/

#TD_74, #TD_75, #TD_77, #TD_79, #TD_85, #TD_87, #TD_89, #TD_95, #TD_97, #TD_99, #TD_105, #TD_107, #TD_109, #TD_115, #TD_117, #TD_119, #TD_125, #TD_127, #TD_129, #TD_135, #TD_137, #TD_139, #TD_145, #TD_147, #TD_149, #TD_155, #TD_157, #TD_159, #TD_165, #TD_167, #TD_169 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 25.4375px;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_74, #TD_75, #TD_77, #TD_79, #TD_85, #TD_87, #TD_89, #TD_95, #TD_97, #TD_99, #TD_105, #TD_107, #TD_109, #TD_115, #TD_117, #TD_119, #TD_125, #TD_127, #TD_129, #TD_135, #TD_137, #TD_139, #TD_145, #TD_147, #TD_149, #TD_155, #TD_157, #TD_159, #TD_165, #TD_167, #TD_169*/

#TD_76, #TD_78, #TD_86, #TD_94, #TD_98, #TD_106, #TD_114, #TD_118, #TD_126, #TD_134, #TD_138, #TD_146, #TD_154, #TD_158, #TD_166 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 25.4375px;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_76, #TD_78, #TD_86, #TD_94, #TD_98, #TD_106, #TD_114, #TD_118, #TD_126, #TD_134, #TD_138, #TD_146, #TD_154, #TD_158, #TD_166*/

#TD_84, #TD_88, #TD_104, #TD_116, #TD_128, #TD_144, #TD_156, #TD_168 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 25.4375px;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_84, #TD_88, #TD_104, #TD_116, #TD_128, #TD_144, #TD_156, #TD_168*/

#TD_96, #TD_108, #TD_136, #TD_164 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 25.4375px;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_96, #TD_108, #TD_136, #TD_164*/

#TD_124, #TD_148 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 25.4375px;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_124, #TD_148*/

#TD_177 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 25.4375px;
    perspective-origin: 17px 14.5px;
    transform-origin: 17px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_177*/

#DIV_180 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 30px 0px 40px;
}/*#DIV_180*/

#A_181, #A_182, #A_184 {
    color: rgb(134, 0, 0);
    text-align: justify;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_181, #A_182, #A_184*/

#A_183, #A_185 {
    color: rgb(134, 0, 0);
    text-align: justify;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_183, #A_185*/

#SCRIPT_187, #SCRIPT_194, #NOSCRIPT_204 {
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_187, #SCRIPT_194, #NOSCRIPT_204*/

#P_188 {
    height: 84px;
    text-align: left;
    width: 429.125px;
    perspective-origin: 214.562px 42px;
    transform-origin: 214.562px 42px;
    font: normal normal normal normal 11px / 14px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0px 12px;
}/*#P_188*/

#P_189 {
    height: 19px;
    text-align: justify;
    width: 429.125px;
    perspective-origin: 214.562px 9.5px;
    transform-origin: 214.562px 9.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0px 12px;
}/*#P_189*/

#A_190 {
    color: rgb(134, 0, 0);
    text-align: justify;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_190*/

#DIV_195 {
    height: 381.453px;
    text-align: justify;
    width: 429.125px;
    perspective-origin: 223.5px 190.719px;
    transform-origin: 223.5px 190.719px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 22.3438px 0px 0px;
    padding: 0px 8.9375px;
}/*#DIV_195*/

#OL_197 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px 5%;
}/*#OL_197*/

#DIV_198 {
    height: 319px;
    text-align: justify;
    width: 411.969px;
    perspective-origin: 214.562px 159.5px;
    transform-origin: 214.562px 159.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 21.4531px 0px 0px;
    padding: 0px 8.57812px;
}/*#DIV_198*/

#DIV_199 {
    height: 319px;
    text-align: justify;
    width: 428.438px;
    perspective-origin: 214.219px 159.5px;
    transform-origin: 214.219px 159.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px -8.23438px;
}/*#DIV_199*/

#IFRAME_200 {
    height: 314px;
    min-width: 100%;
    text-align: justify;
    width: 428.438px;
    perspective-origin: 214.219px 157px;
    transform-origin: 214.219px 157px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#IFRAME_200*/

#IFRAME_201 {
    display: none;
    height: 18px;
    max-height: 18px;
    max-width: 428px;
    min-height: 18px;
    min-width: 428px;
    position: fixed;
    text-align: justify;
    top: 0px;
    width: 428px;
    z-index: 2147483646;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#IFRAME_201*/

#IFRAME_202 {
    bottom: 0px;
    display: none;
    height: 18px;
    max-height: 18px;
    max-width: 428px;
    min-height: 18px;
    min-width: 428px;
    position: fixed;
    text-align: justify;
    width: 428px;
    z-index: 2147483646;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#IFRAME_202*/

#BR_205 {
    clear: both;
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_205*/

#BR_206 {
    clear: both;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_206*/

#DIV_207 {
    height: 110px;
    width: 447px;
    perspective-origin: 223.5px 55.5px;
    transform-origin: 223.5px 55.5px;
    background: rgb(252, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(131, 0, 0);
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 50px 0px 0px;
}/*#DIV_207*/

#DIV_208 {
    height: 60px;
    width: 397px;
    perspective-origin: 223.5px 55px;
    transform-origin: 223.5px 55px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 25px;
}/*#DIV_208*/

#UL_209 {
    width: 397px;
    perspective-origin: 198.5px 0px;
    transform-origin: 198.5px 0px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_209*/

#LI_210 {
    float: left;
    height: 15px;
    width: 51.1406px;
    perspective-origin: 25.5625px 7.5px;
    transform-origin: 25.5625px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_210*/

#A_211, #A_213, #A_215, #A_217 {
    color: rgb(134, 0, 0);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_211, #A_213, #A_215, #A_217*/

#LI_212 {
    float: left;
    height: 15px;
    width: 60.75px;
    perspective-origin: 30.375px 7.5px;
    transform-origin: 30.375px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_212*/

#LI_214 {
    float: left;
    height: 15px;
    width: 73.4531px;
    perspective-origin: 36.7188px 7.5px;
    transform-origin: 36.7188px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_214*/

#LI_216 {
    float: left;
    height: 15px;
    width: 80.75px;
    perspective-origin: 40.375px 7.5px;
    transform-origin: 40.375px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_216*/

#BR_218 {
    clear: both;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_218*/

#P_219 {
    clear: both;
    height: 30px;
    width: 397px;
    perspective-origin: 198.5px 15px;
    transform-origin: 198.5px 15px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 10px 0px 0px;
}/*#P_219*/

#IFRAME_220 {
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 2px inset rgb(0, 0, 0);
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#IFRAME_220*/

#DIV_221 {
    text-align: left;
    width: 447px;
    perspective-origin: 223.5px 0px;
    transform-origin: 223.5px 0px;
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_221*/

#DIV_222, #DIV_226 {
    bottom: 10726px;
    left: 0px;
    position: absolute;
    right: 447px;
    text-align: left;
    top: -10000px;
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
    overflow: hidden;
}/*#DIV_222, #DIV_226*/

#DIV_223 {
    height: 302px;
    text-align: left;
    perspective-origin: 0px 151px;
    transform-origin: 0px 151px;
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_223*/

#IFRAME_224, #IFRAME_225 {
    text-align: left;
    perspective-origin: 150px 75px;
    transform-origin: 150px 75px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#IFRAME_224, #IFRAME_225*/

#DIV_227 {
    text-align: left;
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_227*/

#FORM_228 {
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#FORM_228*/



#TABLE_47 {
    border-collapse: collapse;
    height: 398px;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    perspective-origin: 426.5px 200px;
    transform-origin: 426.5px 200px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0.234375px;
}/*#TABLE_44*/

#THEAD_48 {
    border-collapse: collapse;
    height: 36px;
    text-align: left;
    width: 853px;
    perspective-origin: 426.5px 18px;
    transform-origin: 426.5px 18px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#THEAD_45*/

#DIV_41 {
    width: 100%;
    margin: 0 auto;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    max-width: 60rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 28px -1px;
    padding: 0 2rem;
    // height: calc(100vh + 2rem);
    position: relative;
    background: rgba(255,255,255,0.86);
    // height: calc(100vh + 2rem);
    height: 100vh;
    min-height: 46.1875rem;
}/*#DIV_41*/

#H2_42, #H2_173 {
    color: rgb(134, 0, 0);
    height: 19px;
    text-align: justify;
    width: 810.797px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 405.391px 11px;
    transform-origin: 405.391px 11px;
    border-top: 0px none rgb(134, 0, 0);
    border-right: 0px none rgb(134, 0, 0);
    border-bottom: 1px solid rgb(134, 0, 0);
    border-left: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 19.5px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 42.6719px 25.5938px 0px;
    outline: rgb(134, 0, 0) none 0px;
    padding: 0px 0px 2px;
    text-align: center;
    width: 100%;
    padding-bottom: 0.4rem;
    color: grey;
}/*#H2_42, #H2_173*/

#TABLE_47 {
    border-collapse: collapse;
    height: 398px;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    perspective-origin: 426.5px 200px;
    transform-origin: 426.5px 200px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0.234375px;
}/*#TABLE_44*/

#THEAD_48 {
    border-collapse: collapse;
    height: 36px;
    text-align: left;
    width: 853px;
    perspective-origin: 426.5px 18px;
    transform-origin: 426.5px 18px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#THEAD_45*/




.smash-icon{
    background: url('../img/SmashBallAnimation.gif');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -70px;
    right: 26%;
    padding: 23%;
    z-index: 0;
    opacity: 0.24;
}

.header-outer-sign{
    padding-top: 3rem;
    padding-bottom: 4.5rem;
}

.header-inner-sign{
    display: block;
    max-width: 431px;
    width: 431px;
    padding: 5%;
    position: relative;
    margin: 0 auto;
    background: url('../img/verb-logo-1.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.header-inner-left-sign{
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    max-width: 200px;
    width: 200px;
    height: 200px;
    background: url('../img/mario.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-inner-right-sign{
    position: absolute;
    top: 40px;
    right: 0;
    display: block;
    max-width: 200px;
    width: 200px;
    height: 200px;
    background: url('../img/mario.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-inner-sign a{
    color: transparent;
}

body{
    background: url('../img/lvl.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

span.t-caret{
    display: none;
}

del{
    text-decoration: none;
}

html {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.2s; /* Firefox < 16 */
        -ms-animation: fadein 1.2s; /* Internet Explorer */
         -o-animation: fadein 1.2s; /* Opera < 12.1 */
            animation: fadein 1.2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

mark.pink{
    color: #2323b0;
}

.go-bk{
    text-align: center;
    padding: 1rem;
}

.go-bk a{
    padding: 1rem;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #0b78ed;
}