/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    min-height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

// smash-css

#HTML_1 {
    height: 443px;
    width: 1280px;
    perspective-origin: 640px 221.5px;
    transform-origin: 640px 221.5px;
    background: rgb(235, 235, 235) url("http://tournamentscheduler.net/resources/images/tilebg.png") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#HTML_1*/

#HEAD_2, #META_3, #LINK_6, #META_8, #META_10, #META_12, #LINK_14, #LINK_16, #SCRIPT_18, #SCRIPT_20, #SCRIPT_22, #SCRIPT_24, #SCRIPT_26, #STYLE_28 {
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
  font-weight: 300;
}/*#HEAD_2, #META_3, #LINK_6, #META_8, #META_10, #META_12, #LINK_14, #LINK_16, #SCRIPT_18, #SCRIPT_20, #SCRIPT_22, #SCRIPT_24, #SCRIPT_26, #STYLE_28*/

#TITLE_4, #META_7, #META_11, #LINK_15, #SCRIPT_19, #SCRIPT_23, #SCRIPT_27 {
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#TITLE_4, #META_7, #META_11, #LINK_15, #SCRIPT_19, #SCRIPT_23, #SCRIPT_27*/

#BASE_5 {
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BASE_5*/

#META_9, #META_13, #SCRIPT_21, #STYLE_29 {
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#META_9, #META_13, #SCRIPT_21, #STYLE_29*/

#SCRIPT_17, #SCRIPT_25 {
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_17, #SCRIPT_25*/

#BODY_30 {
    height: 443px;
    width: 1280px;
    perspective-origin: 640px 221.5px;
    transform-origin: 640px 221.5px;
    background: rgb(235, 235, 235) url("http://tournamentscheduler.net/resources/images/tilebg.png") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#BODY_30*/

#DIV_31 {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 28px -1px;
    height: 100%;
    left: 0px;
    max-width: 889px;
    min-height: 100%;
    position: relative;
    right: 0px;
    top: 0px;
    width: 889px;
    perspective-origin: 444.5px 675.672px;
    transform-origin: 444.5px 675.672px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 195.5px;
}/*#DIV_31*/

#DIV_32 {
    height: 100%;
    width: 889px;
    perspective-origin: 444.5px 586.172px;
    transform-origin: 444.5px 586.172px;
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_32*/

#H1_33 {
    height: 92px;
    width: 889px;
    perspective-origin: 444.5px 46px;
    transform-origin: 444.5px 46px;
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#H1_33*/

#A_34 {
    color: rgb(134, 0, 0);
    display: block;
    height: 92px;
    max-width: 391px;
    text-decoration: none;
    width: 391px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 195.5px 46px;
    transform-origin: 195.5px 46px;
    background: rgba(0, 0, 0, 0) url("../img/mario.gif") no-repeat scroll 0% 0% / contain padding-box border-box;
    border: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 53.3281px 249px;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_34*/

#SPAN_35 {
    color: rgb(134, 0, 0);
    display: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#SPAN_35*/

#DIV_36 {
    // height: 973.703px;
    min-height: 100%;
    text-align: justify;
    width: 889px;
    perspective-origin: 444.5px 486.844px;
    transform-origin: 444.5px 486.844px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#DIV_36*/

#DIV_37, #DIV_168 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 13px auto;
    padding: 0px 2%;
}/*#DIV_37, #DIV_168*/

#INS_38, #INS_169 {
    display: none;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 16px / normal Times;
}/*#INS_38, #INS_169*/

#SCRIPT_39, #SCRIPT_40, #SCRIPT_170 {
    font: normal normal normal normal 16px / normal Times;
}/*#SCRIPT_39, #SCRIPT_40, #SCRIPT_170*/

#DIV_41 {
    width: 100%;
    margin: 0 auto;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    max-width: 60rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 28px -1px;
    padding: 0 2rem;
    // height: calc(100vh + 2rem);
    height: 100%;
    position: relative;
    background: rgba(255,255,255,0.86);
    height: 100%;
    min-height: 45.625rem;
    padding-bottom: 2rem;
}/*#DIV_41*/

#H2_43, #H2_173 {
    color: rgb(134, 0, 0);
    height: 19px;
    text-align: justify;
    width: 810.797px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 405.391px 11px;
    transform-origin: 405.391px 11px;
    border-top: 0px none rgb(134, 0, 0);
    border-right: 0px none rgb(134, 0, 0);
    border-bottom: 1px solid rgb(134, 0, 0);
    border-left: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 19.5px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 42.6719px 25.5938px 0px;
    outline: rgb(134, 0, 0) none 0px;
    padding: 0px 0px 2px;
    text-align: center;
    width: 100%;
    padding-bottom: 0.4rem;
    color: grey;
}/*#H2_43, #H2_173*/

#P_43 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 20px 0px 12px;
}/*#P_43*/



#TABLE_46 {
    border-collapse: collapse;
    height: 100%;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    perspective-origin: 254.5px 752px;
    transform-origin: 254.5px 752px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0.390625px;
}/*#TABLE_46*/

#THEAD_47 {
    border-collapse: collapse;
    height: 30px;
    text-align: left;
    width: 509px;
    perspective-origin: 254.5px 15px;
    transform-origin: 254.5px 15px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#THEAD_47*/

#TR_48, #TR_67, #TR_76, #TR_85, #TR_116, #TR_125, #TR_134, #TR_165, #TR_174, #TR_183, #TR_214, #TR_223, #TR_232, #TR_263, #TR_272, #TR_281, #TR_312, #TR_321, #TR_330, #TR_361, #TR_370, #TR_379, #TR_410, #TR_419, #TR_428, #TR_459, #TR_468, #TR_477 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: middle;
    width: 498.844px;
    perspective-origin: 254.5px 15px;
    transform-origin: 254.5px 15px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TR_48, #TR_67, #TR_76, #TR_85, #TR_116, #TR_125, #TR_134, #TR_165, #TR_174, #TR_183, #TR_214, #TR_223, #TR_232, #TR_263, #TR_272, #TR_281, #TR_312, #TR_321, #TR_330, #TR_361, #TR_370, #TR_379, #TR_410, #TR_419, #TR_428, #TR_459, #TR_468, #TR_477*/

#TH_49 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: middle;
    visibility: hidden;
    width: 19.8438px;
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TH_49*/

#TH_50, #TH_52 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: middle;
    width: 111.844px;
    perspective-origin: 61px 15px;
    transform-origin: 61px 15px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TH_50, #TH_52*/

#TH_51, #TH_55 {
    border-collapse: collapse;
    height: 18.8438px;
    vertical-align: middle;
    width: -0.15625px;
    perspective-origin: 5px 15px;
    transform-origin: 5px 15px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TH_51, #TH_55*/

#TH_53 {
    border-collapse: collapse;
    display: none;
    height: auto;
    text-align: left;
    vertical-align: middle;
    width: 19%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 1%;
}/*#TH_53*/

#TH_54, #TH_56 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: middle;
    width: 55.8438px;
    perspective-origin: 33px 15px;
    transform-origin: 33px 15px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TH_54, #TH_56*/

#TBODY_57, #TBODY_155, #TBODY_253, #TBODY_351, #TBODY_449 {
    border-collapse: collapse;
    height: 152px;
    text-align: left;
    width: 509px;
    perspective-origin: 254.5px 76px;
    transform-origin: 254.5px 76px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#TBODY_57, #TBODY_155, #TBODY_253, #TBODY_351, #TBODY_449*/

#TR_58, #TR_94, #TR_107, #TR_143, #TR_156, #TR_192, #TR_205, #TR_241, #TR_254, #TR_290, #TR_303, #TR_339, #TR_352, #TR_388, #TR_401, #TR_437, #TR_450, #TR_486 {
    border-collapse: collapse;
    height: 19.8438px;
    text-align: left;
    vertical-align: middle;
    width: 498.844px;
    perspective-origin: 254.5px 15.5px;
    transform-origin: 254.5px 15.5px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TR_58, #TR_94, #TR_107, #TR_143, #TR_156, #TR_192, #TR_205, #TR_241, #TR_254, #TR_290, #TR_303, #TR_339, #TR_352, #TR_388, #TR_401, #TR_437, #TR_450, #TR_486*/

#TD_59, #TD_95, #TD_108, #TD_144, #TD_157, #TD_193, #TD_206, #TD_242, #TD_255, #TD_291, #TD_304, #TD_340, #TD_353, #TD_389, #TD_402, #TD_438, #TD_451, #TD_487 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: center;
    vertical-align: top;
    width: 19.8438px;
    perspective-origin: 15px 15.5px;
    transform-origin: 15px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_59, #TD_95, #TD_108, #TD_144, #TD_157, #TD_193, #TD_206, #TD_242, #TD_255, #TD_291, #TD_304, #TD_340, #TD_353, #TD_389, #TD_402, #TD_438, #TD_451, #TD_487*/

#TD_60, #TD_62, #TD_96, #TD_98, #TD_109, #TD_111, #TD_145, #TD_147, #TD_158, #TD_160, #TD_194, #TD_196, #TD_207, #TD_209, #TD_243, #TD_245, #TD_256, #TD_258, #TD_292, #TD_294, #TD_305, #TD_307, #TD_341, #TD_343, #TD_354, #TD_356, #TD_390, #TD_392, #TD_403, #TD_405, #TD_439, #TD_441, #TD_452, #TD_454, #TD_488, #TD_490 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 111.844px;
    perspective-origin: 61px 15.5px;
    transform-origin: 61px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_60, #TD_62, #TD_96, #TD_98, #TD_109, #TD_111, #TD_145, #TD_147, #TD_158, #TD_160, #TD_194, #TD_196, #TD_207, #TD_209, #TD_243, #TD_245, #TD_256, #TD_258, #TD_292, #TD_294, #TD_305, #TD_307, #TD_341, #TD_343, #TD_354, #TD_356, #TD_390, #TD_392, #TD_403, #TD_405, #TD_439, #TD_441, #TD_452, #TD_454, #TD_488, #TD_490*/

#TD_61, #TD_97, #TD_110, #TD_146, #TD_159, #TD_195, #TD_208, #TD_244, #TD_257, #TD_293, #TD_306, #TD_342, #TD_355, #TD_391, #TD_404, #TD_440, #TD_453, #TD_489 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: center;
    vertical-align: top;
    width: -0.15625px;
    perspective-origin: 5px 15.5px;
    transform-origin: 5px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_61, #TD_97, #TD_110, #TD_146, #TD_159, #TD_195, #TD_208, #TD_244, #TD_257, #TD_293, #TD_306, #TD_342, #TD_355, #TD_391, #TD_404, #TD_440, #TD_453, #TD_489*/

#TD_63, #TD_99, #TD_112, #TD_148, #TD_161, #TD_197, #TD_210, #TD_246, #TD_259, #TD_295, #TD_308, #TD_344, #TD_357, #TD_393, #TD_406, #TD_442, #TD_455, #TD_491 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 55.8438px;
    perspective-origin: 33px 15.5px;
    transform-origin: 33px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_63, #TD_99, #TD_112, #TD_148, #TD_161, #TD_197, #TD_210, #TD_246, #TD_259, #TD_295, #TD_308, #TD_344, #TD_357, #TD_393, #TD_406, #TD_442, #TD_455, #TD_491*/

#TD_64, #TD_100, #TD_113, #TD_149, #TD_162, #TD_198, #TD_211, #TD_247, #TD_260, #TD_296, #TD_309, #TD_345, #TD_358, #TD_394, #TD_407, #TD_443, #TD_456, #TD_492 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: -0.15625px;
    perspective-origin: 5px 15.5px;
    transform-origin: 5px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_64, #TD_100, #TD_113, #TD_149, #TD_162, #TD_198, #TD_211, #TD_247, #TD_260, #TD_296, #TD_309, #TD_345, #TD_358, #TD_394, #TD_407, #TD_443, #TD_456, #TD_492*/

#TD_65, #TD_101, #TD_114, #TD_150, #TD_163, #TD_199, #TD_212, #TD_248, #TD_261, #TD_297, #TD_310, #TD_346, #TD_359, #TD_395, #TD_408, #TD_444, #TD_457, #TD_493 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: center;
    vertical-align: top;
    width: 55.8438px;
    perspective-origin: 33px 15.5px;
    transform-origin: 33px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_65, #TD_101, #TD_114, #TD_150, #TD_163, #TD_199, #TD_212, #TD_248, #TD_261, #TD_297, #TD_310, #TD_346, #TD_359, #TD_395, #TD_408, #TD_444, #TD_457, #TD_493*/

#TD_66 {
    border-collapse: collapse;
    height: 20.8438px;
    text-align: left;
    vertical-align: top;
    width: 72.8438px;
    perspective-origin: 41.5px 15.5px;
    transform-origin: 41.5px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
    border-top: 3px solid rgb(204, 204, 204);
}/*#TD_66*/

#TD_68, #TD_77, #TD_86, #TD_117, #TD_126, #TD_135, #TD_166, #TD_175, #TD_184, #TD_215, #TD_224, #TD_233, #TD_264, #TD_273, #TD_282, #TD_313, #TD_322, #TD_331, #TD_362, #TD_371, #TD_380, #TD_411, #TD_420, #TD_429, #TD_460, #TD_469, #TD_478 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: center;
    vertical-align: top;
    width: 19.8438px;
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_68, #TD_77, #TD_86, #TD_117, #TD_126, #TD_135, #TD_166, #TD_175, #TD_184, #TD_215, #TD_224, #TD_233, #TD_264, #TD_273, #TD_282, #TD_313, #TD_322, #TD_331, #TD_362, #TD_371, #TD_380, #TD_411, #TD_420, #TD_429, #TD_460, #TD_469, #TD_478*/

#TD_69, #TD_71, #TD_78, #TD_80, #TD_87, #TD_89, #TD_118, #TD_120, #TD_127, #TD_129, #TD_136, #TD_138, #TD_167, #TD_169, #TD_176, #TD_178, #TD_185, #TD_187, #TD_216, #TD_218, #TD_225, #TD_227, #TD_234, #TD_236, #TD_265, #TD_267, #TD_274, #TD_276, #TD_283, #TD_285, #TD_314, #TD_316, #TD_323, #TD_325, #TD_332, #TD_334, #TD_363, #TD_365, #TD_372, #TD_374, #TD_381, #TD_383, #TD_412, #TD_414, #TD_421, #TD_423, #TD_430, #TD_432, #TD_461, #TD_463, #TD_470, #TD_472, #TD_479, #TD_481 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 111.844px;
    perspective-origin: 61px 15px;
    transform-origin: 61px 15px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_69, #TD_71, #TD_78, #TD_80, #TD_87, #TD_89, #TD_118, #TD_120, #TD_127, #TD_129, #TD_136, #TD_138, #TD_167, #TD_169, #TD_176, #TD_178, #TD_185, #TD_187, #TD_216, #TD_218, #TD_225, #TD_227, #TD_234, #TD_236, #TD_265, #TD_267, #TD_274, #TD_276, #TD_283, #TD_285, #TD_314, #TD_316, #TD_323, #TD_325, #TD_332, #TD_334, #TD_363, #TD_365, #TD_372, #TD_374, #TD_381, #TD_383, #TD_412, #TD_414, #TD_421, #TD_423, #TD_430, #TD_432, #TD_461, #TD_463, #TD_470, #TD_472, #TD_479, #TD_481*/

#TD_70, #TD_79, #TD_88, #TD_119, #TD_128, #TD_137, #TD_168, #TD_177, #TD_186, #TD_217, #TD_226, #TD_235, #TD_266, #TD_275, #TD_284, #TD_315, #TD_324, #TD_333, #TD_364, #TD_373, #TD_382, #TD_413, #TD_422, #TD_431, #TD_462, #TD_471, #TD_480 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: center;
    vertical-align: top;
    width: -0.15625px;
    perspective-origin: 5px 15px;
    transform-origin: 5px 15px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_70, #TD_79, #TD_88, #TD_119, #TD_128, #TD_137, #TD_168, #TD_177, #TD_186, #TD_217, #TD_226, #TD_235, #TD_266, #TD_275, #TD_284, #TD_315, #TD_324, #TD_333, #TD_364, #TD_373, #TD_382, #TD_413, #TD_422, #TD_431, #TD_462, #TD_471, #TD_480*/

#TD_72, #TD_81, #TD_90, #TD_121, #TD_130, #TD_139, #TD_170, #TD_179, #TD_188, #TD_219, #TD_228, #TD_237, #TD_268, #TD_277, #TD_286, #TD_317, #TD_326, #TD_335, #TD_366, #TD_375, #TD_384, #TD_415, #TD_424, #TD_433, #TD_464, #TD_473, #TD_482 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 55.8438px;
    perspective-origin: 33px 15px;
    transform-origin: 33px 15px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_72, #TD_81, #TD_90, #TD_121, #TD_130, #TD_139, #TD_170, #TD_179, #TD_188, #TD_219, #TD_228, #TD_237, #TD_268, #TD_277, #TD_286, #TD_317, #TD_326, #TD_335, #TD_366, #TD_375, #TD_384, #TD_415, #TD_424, #TD_433, #TD_464, #TD_473, #TD_482*/

#TD_73, #TD_82, #TD_91, #TD_122, #TD_131, #TD_140, #TD_171, #TD_180, #TD_189, #TD_220, #TD_229, #TD_238, #TD_269, #TD_278, #TD_287, #TD_318, #TD_327, #TD_336, #TD_367, #TD_376, #TD_385, #TD_416, #TD_425, #TD_434, #TD_465, #TD_474, #TD_483 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: -0.15625px;
    perspective-origin: 5px 15px;
    transform-origin: 5px 15px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_73, #TD_82, #TD_91, #TD_122, #TD_131, #TD_140, #TD_171, #TD_180, #TD_189, #TD_220, #TD_229, #TD_238, #TD_269, #TD_278, #TD_287, #TD_318, #TD_327, #TD_336, #TD_367, #TD_376, #TD_385, #TD_416, #TD_425, #TD_434, #TD_465, #TD_474, #TD_483*/

#TD_74, #TD_83, #TD_92, #TD_123, #TD_132, #TD_141, #TD_172, #TD_181, #TD_190, #TD_221, #TD_230, #TD_239, #TD_270, #TD_279, #TD_288, #TD_319, #TD_328, #TD_337, #TD_368, #TD_377, #TD_386, #TD_417, #TD_426, #TD_435, #TD_466, #TD_475, #TD_484 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: center;
    vertical-align: top;
    width: 55.8438px;
    perspective-origin: 33px 15px;
    transform-origin: 33px 15px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_74, #TD_83, #TD_92, #TD_123, #TD_132, #TD_141, #TD_172, #TD_181, #TD_190, #TD_221, #TD_230, #TD_239, #TD_270, #TD_279, #TD_288, #TD_319, #TD_328, #TD_337, #TD_368, #TD_377, #TD_386, #TD_417, #TD_426, #TD_435, #TD_466, #TD_475, #TD_484*/

#TD_75, #TD_84, #TD_124, #TD_142, #TD_173, #TD_191, #TD_222, #TD_240, #TD_271, #TD_289, #TD_320, #TD_338, #TD_369, #TD_387, #TD_418, #TD_436, #TD_467, #TD_485 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 72.8438px;
    perspective-origin: 41.5px 15px;
    transform-origin: 41.5px 15px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_75, #TD_84, #TD_124, #TD_142, #TD_173, #TD_191, #TD_222, #TD_240, #TD_271, #TD_289, #TD_320, #TD_338, #TD_369, #TD_387, #TD_418, #TD_436, #TD_467, #TD_485*/

#TD_93, #TD_133, #TD_182, #TD_231, #TD_280, #TD_329, #TD_378, #TD_427, #TD_476 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 72.8438px;
    perspective-origin: 41.5px 15px;
    transform-origin: 41.5px 15px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_93, #TD_133, #TD_182, #TD_231, #TD_280, #TD_329, #TD_378, #TD_427, #TD_476*/

#TD_102, #TD_115, #TD_164, #TD_213, #TD_262, #TD_311, #TD_360, #TD_409, #TD_458 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 72.8438px;
    perspective-origin: 41.5px 15.5px;
    transform-origin: 41.5px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_102, #TD_115, #TD_164, #TD_213, #TD_262, #TD_311, #TD_360, #TD_409, #TD_458*/

#TBODY_103, #TBODY_152, #TBODY_201, #TBODY_250, #TBODY_299, #TBODY_348, #TBODY_397, #TBODY_446 {
    border-collapse: collapse;
    height: 13px;
    text-align: left;
    width: 509px;
    perspective-origin: 254.5px 6.5px;
    transform-origin: 254.5px 6.5px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#TBODY_103, #TBODY_152, #TBODY_201, #TBODY_250, #TBODY_299, #TBODY_348, #TBODY_397, #TBODY_446*/

#TR_104, #TR_153, #TR_202, #TR_251, #TR_300, #TR_349, #TR_398, #TR_447 {
    border-collapse: collapse;
    height: 1.84375px;
    text-align: left;
    vertical-align: middle;
    width: 498.844px;
    perspective-origin: 254.5px 6.5px;
    transform-origin: 254.5px 6.5px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TR_104, #TR_153, #TR_202, #TR_251, #TR_300, #TR_349, #TR_398, #TR_447*/

#TD_105, #TD_154, #TD_203, #TD_252, #TD_301, #TD_350, #TD_399, #TD_448 {
    border-collapse: collapse;
    height: -0.15625px;
    text-align: left;
    vertical-align: top;
    width: 498.844px;
    perspective-origin: 254.5px 6.5px;
    transform-origin: 254.5px 6.5px;
    border-top: 3px solid rgb(204, 204, 204);
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_105, #TD_154, #TD_203, #TD_252, #TD_301, #TD_350, #TD_399, #TD_448*/

#TBODY_106, #TBODY_204, #TBODY_302, #TBODY_400 {
    border-collapse: collapse;
    height: 152px;
    text-align: left;
    width: 509px;
    perspective-origin: 254.5px 76px;
    transform-origin: 254.5px 76px;
    background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#TBODY_106, #TBODY_204, #TBODY_302, #TBODY_400*/

#TD_151, #TD_200, #TD_298, #TD_396, #TD_494 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 72.8438px;
    perspective-origin: 41.5px 15.5px;
    transform-origin: 41.5px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_151, #TD_200, #TD_298, #TD_396, #TD_494*/

#TD_249, #TD_347 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 72.8438px;
    perspective-origin: 41.5px 15.5px;
    transform-origin: 41.5px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_249, #TD_347*/

#TD_445 {
    border-collapse: collapse;
    height: 18.8438px;
    text-align: left;
    vertical-align: top;
    width: 72.8438px;
    perspective-origin: 41.5px 15.5px;
    transform-origin: 41.5px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
}/*#TD_445*/



#DIV_157 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 30px 0px 40px;
}/*#DIV_157*/

#A_158, #A_159, #A_161 {
    color: rgb(134, 0, 0);
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 16px / normal Times;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_158, #A_159, #A_161*/

#A_160, #A_162 {
    color: rgb(134, 0, 0);
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 16px / normal Times;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_160, #A_162*/

#SCRIPT_163, #SCRIPT_164, #SCRIPT_180 {
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_163, #SCRIPT_164, #SCRIPT_180*/

#P_165 {
    height: 42px;
    text-align: left;
    width: 853.469px;
    perspective-origin: 426.734px 21px;
    transform-origin: 426.734px 21px;
    font: normal normal normal normal 11px / 14px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0px 12px;
}/*#P_165*/

#P_166 {
    height: 19px;
    text-align: justify;
    width: 853.469px;
    perspective-origin: 426.734px 9.5px;
    transform-origin: 426.734px 9.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0px 12px;
}/*#P_166*/

#A_167 {
    color: rgb(134, 0, 0);
    text-align: justify;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_167*/

#SCRIPT_171 {
    font: normal normal normal normal 16px / normal Times;
}/*#SCRIPT_171*/

#DIV_172 {
    height: 389.672px;
    text-align: justify;
    width: 853.469px;
    perspective-origin: 444.5px 194.828px;
    transform-origin: 444.5px 194.828px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 44.4375px 0px 0px;
    padding: 0px 17.7656px;
}/*#DIV_172*/

#OL_174 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px 5%;
}/*#OL_174*/

#DIV_175 {
    height: 325px;
    text-align: justify;
    width: 819.344px;
    perspective-origin: 426.734px 162.5px;
    transform-origin: 426.734px 162.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 42.6719px 0px 0px;
    padding: 0px 17.0625px;
}/*#DIV_175*/

#DIV_176 {
    height: 325px;
    text-align: justify;
    width: 852.094px;
    perspective-origin: 426.047px 162.5px;
    transform-origin: 426.047px 162.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px -16.375px;
}/*#DIV_176*/

#IFRAME_177 {
    height: 320px;
    min-width: 100%;
    text-align: justify;
    width: 852.094px;
    perspective-origin: 426.047px 160px;
    transform-origin: 426.047px 160px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#IFRAME_177*/

#IFRAME_178 {
    display: none;
    height: 18px;
    max-height: 18px;
    max-width: 852px;
    min-height: 18px;
    min-width: 852px;
    position: fixed;
    text-align: justify;
    top: 0px;
    width: 852px;
    z-index: 2147483646;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#IFRAME_178*/

#IFRAME_179 {
    bottom: 0px;
    display: none;
    height: 18px;
    max-height: 18px;
    max-width: 852px;
    min-height: 18px;
    min-width: 852px;
    position: fixed;
    text-align: justify;
    width: 852px;
    z-index: 2147483646;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#IFRAME_179*/

#NOSCRIPT_181 {
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#NOSCRIPT_181*/

#BR_182 {
    clear: both;
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_182*/

#BR_183 {
    clear: both;
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_183*/

#DIV_184 {
    height: 110px;
    width: 889px;
    perspective-origin: 444.5px 55.5px;
    transform-origin: 444.5px 55.5px;
    background: rgb(252, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(131, 0, 0);
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 50px 0px 0px;
    display: none;
}/*#DIV_184*/

#DIV_185 {
    height: 60px;
    width: 839px;
    perspective-origin: 444.5px 55px;
    transform-origin: 444.5px 55px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 25px;
    display: none;
}/*#DIV_185*/

#UL_186 {
    width: 839px;
    perspective-origin: 419.5px 0px;
    transform-origin: 419.5px 0px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_186*/

#LI_187 {
    float: left;
    height: 15px;
    width: 51.1406px;
    perspective-origin: 25.5625px 7.5px;
    transform-origin: 25.5625px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_187*/

#A_188, #A_190, #A_192, #A_194 {
    color: rgb(134, 0, 0);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_188, #A_190, #A_192, #A_194*/

#LI_189 {
    float: left;
    height: 15px;
    width: 60.75px;
    perspective-origin: 30.375px 7.5px;
    transform-origin: 30.375px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_189*/

#LI_191 {
    float: left;
    height: 15px;
    width: 73.4531px;
    perspective-origin: 36.7188px 7.5px;
    transform-origin: 36.7188px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_191*/

#LI_193 {
    float: left;
    height: 15px;
    width: 80.75px;
    perspective-origin: 40.375px 7.5px;
    transform-origin: 40.375px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_193*/

#BR_195 {
    clear: both;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_195*/

#P_196 {
    clear: both;
    height: 15px;
    width: 839px;
    perspective-origin: 419.5px 7.5px;
    transform-origin: 419.5px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 10px 0px 0px;
}/*#P_196*/

#DIV_197 {
    text-align: left;
    width: 1280px;
    perspective-origin: 640px 0px;
    transform-origin: 640px 0px;
    font: normal normal normal normal 0.6875rem / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_197*/

#DIV_198, #DIV_202 {
    bottom: 10443px;
    left: 0px;
    position: absolute;
    right: 1280px;
    text-align: left;
    top: -10000px;
    font: normal normal normal normal 0.6875rem / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
    overflow: hidden;
}/*#DIV_198, #DIV_202*/

#DIV_199 {
    height: 302px;
    text-align: left;
    perspective-origin: 0px 151px;
    transform-origin: 0px 151px;
    font: normal normal normal normal 0.6875rem / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_199*/

#IFRAME_200, #IFRAME_201 {
    height: 150px;
    text-align: left;
    perspective-origin: 150px 75px;
    transform-origin: 150px 75px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 0.6875rem / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#IFRAME_200, #IFRAME_201*/

#DIV_203 {
    text-align: left;
    font: normal normal normal normal 0.6875rem / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_203*/

#IFRAME_204 {
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 2px inset rgb(0, 0, 0);
    font: normal normal normal normal 0.75rem / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#IFRAME_204*/

.smash-icon{
    background: url('../img/SmashBallAnimation.gif');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -70px;
    right: 26%;
    padding: 23%;
    z-index: 0;
    opacity: 0.24;
}

.header-outer-sign{
    padding-top: 3rem;
    padding-bottom: 4.5rem;
}

.header-inner-sign{
    display: block;
    max-width: 431px;
    width: 431px;
    padding: 5%;
    position: relative;
    margin: 0 auto;
    background: url('../img/verb-logo-1.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.header-inner-left-sign{
    position: absolute;
    top: 40px;
    left: 40px;
    display: block;
    max-width: 200px;
    width: 200px;
    height: 200px;
    background: url('../img/bow-jr.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-inner-right-sign{
    position: absolute;
    top: 40px;
    right: 20px;
    display: block;
    max-width: 200px;
    width: 130px;
    height: 200px;
    background: url('../img/bow-jr.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-inner-sign a{
    color: transparent;
}

body{
    background: url('../img/lvl.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

span.t-caret{
    display: none;
}

del{
    text-decoration: none;
}

html {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.2s; /* Firefox < 16 */
        -ms-animation: fadein 1.2s; /* Internet Explorer */
         -o-animation: fadein 1.2s; /* Opera < 12.1 */
            animation: fadein 1.2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

mark.pink{
    color: #2323b0;
}

.go-bk{
    text-align: center;
    padding: 1rem;
    position: relative;
    top: 1rem;
}

.go-bk a{
    padding: 1rem;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #0b78ed;
}