#HTML_1 {
    height: 726px;
    width: 447px;
    perspective-origin: 223.5px 363px;
    transform-origin: 223.5px 363px;
    background: rgb(235, 235, 235) url("http://tournamentscheduler.net/resources/images/tilebg.png") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#HTML_1*/

#SCRIPT_2, #SCRIPT_3, #META_5, #LINK_8, #META_10, #META_12, #META_14, #LINK_16, #LINK_18, #STYLE_20, #SCRIPT_22, #SCRIPT_24, #SCRIPT_26, #SCRIPT_28, #STYLE_30, #STYLE_32, #SCRIPT_741 {
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_2, #SCRIPT_3, #META_5, #LINK_8, #META_10, #META_12, #META_14, #LINK_16, #LINK_18, #STYLE_20, #SCRIPT_22, #SCRIPT_24, #SCRIPT_26, #SCRIPT_28, #STYLE_30, #STYLE_32, #SCRIPT_741*/

#HEAD_4, #TITLE_6, #META_9, #META_13, #LINK_17, #SCRIPT_21, #SCRIPT_25, #SCRIPT_29, #SCRIPT_742 {
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#HEAD_4, #TITLE_6, #META_9, #META_13, #LINK_17, #SCRIPT_21, #SCRIPT_25, #SCRIPT_29, #SCRIPT_742*/

#BASE_7 {
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BASE_7*/

#META_11, #META_15, #SCRIPT_23, #STYLE_31 {
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#META_11, #META_15, #SCRIPT_23, #STYLE_31*/

#SCRIPT_19, #SCRIPT_27 {
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_19, #SCRIPT_27*/

#BODY_33 {
    height: 726px;
    width: 447px;
    perspective-origin: 223.5px 363px;
    transform-origin: 223.5px 363px;
    background: rgb(235, 235, 235) url("http://tournamentscheduler.net/resources/images/tilebg.png") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#BODY_33*/

#DIV_34 {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.74902) 0px 0px 28px -1px;
    height: 2896.42px;
    left: 0px;
    max-width: 889px;
    min-height: 100%;
    position: relative;
    right: 0px;
    top: 0px;
    width: 447px;
    perspective-origin: 223.5px 1448.2px;
    transform-origin: 223.5px 1448.2px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#DIV_34*/

#DIV_35 {
    height: 2717.42px;
    width: 447px;
    perspective-origin: 223.5px 1358.7px;
    transform-origin: 223.5px 1358.7px;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_35*/

#H1_36 {
    height: 92px;
    width: 447px;
    perspective-origin: 223.5px 46px;
    transform-origin: 223.5px 46px;
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#H1_36*/

#A_37 {
    color: rgb(134, 0, 0);
    display: block;
    height: 92px;
    max-width: 391px;
    text-decoration: none;
    width: 391px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 195.5px 46px;
    transform-origin: 195.5px 46px;
    background: rgba(0, 0, 0, 0) url("http://tournamentscheduler.net/resources/images/logo.png") no-repeat scroll 0% 0% / contain padding-box border-box;
    border: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 26.8125px 28px;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_37*/

#SPAN_38 {
    color: rgb(134, 0, 0);
    display: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 26px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#SPAN_38*/

#DIV_39 {
    height: 2571.8px;
    min-height: 100%;
    text-align: justify;
    width: 447px;
    perspective-origin: 223.5px 1285.89px;
    transform-origin: 223.5px 1285.89px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#DIV_39*/

#DIV_40, #DIV_695 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 13px auto;
    padding: 0px 2%;
}/*#DIV_40, #DIV_695*/

#INS_41, #INS_696 {
    display: none;
    text-align: justify;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#INS_41, #INS_696*/

#SCRIPT_42, #SCRIPT_43, #SCRIPT_697, #SCRIPT_705, #SCRIPT_715 {
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_42, #SCRIPT_43, #SCRIPT_697, #SCRIPT_705, #SCRIPT_715*/

#DIV_44 {
    height: 2149px;
    text-align: justify;
    width: 429.125px;
    perspective-origin: 223.5px 1074.5px;
    transform-origin: 223.5px 1074.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 22.3438px 0px 0px;
    padding: 0px 8.9375px;
}/*#DIV_44*/

#H2_45 {
    color: rgb(134, 0, 0);
    height: 19px;
    text-align: justify;
    width: 399.094px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 199.547px 11px;
    transform-origin: 199.547px 11px;
    border-top: 0px none rgb(134, 0, 0);
    border-right: 0px none rgb(134, 0, 0);
    border-bottom: 1px solid rgb(134, 0, 0);
    border-left: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 19.5px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 21.4531px 12.8594px 8.57812px;
    outline: rgb(134, 0, 0) none 0px;
    padding: 0px 0px 2px;
}/*#H2_45*/

#P_46 {
    height: 38px;
    text-align: justify;
    width: 429.125px;
    perspective-origin: 214.562px 19px;
    transform-origin: 214.562px 19px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 20px 0px 12px;
}/*#P_46*/

#TABLE_47 {
    border-collapse: collapse;
    height: 2008px;
    table-layout: fixed;
    text-align: left;
    width: 429px;
    perspective-origin: 214.5px 1005px;
    transform-origin: 214.5px 1005px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0.0625px;
}/*#TABLE_47*/

#THEAD_48 {
    border-collapse: collapse;
    height: 28px;
    text-align: left;
    width: 429px;
    perspective-origin: 214.5px 14px;
    transform-origin: 214.5px 14px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#THEAD_48*/

#TR_49, #TR_68, #TR_77, #TR_86, #TR_95, #TR_126, #TR_135, #TR_144, #TR_153, #TR_184, #TR_193, #TR_202, #TR_211, #TR_242, #TR_251, #TR_260, #TR_269, #TR_300, #TR_309, #TR_318, #TR_327, #TR_358, #TR_367, #TR_376, #TR_385, #TR_416, #TR_425, #TR_434, #TR_443, #TR_474, #TR_483, #TR_492, #TR_501, #TR_532, #TR_541, #TR_550, #TR_559, #TR_590, #TR_599, #TR_608, #TR_617, #TR_648, #TR_657, #TR_666, #TR_675 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: middle;
    width: 420.438px;
    perspective-origin: 214.5px 14px;
    transform-origin: 214.5px 14px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TR_49, #TR_68, #TR_77, #TR_86, #TR_95, #TR_126, #TR_135, #TR_144, #TR_153, #TR_184, #TR_193, #TR_202, #TR_211, #TR_242, #TR_251, #TR_260, #TR_269, #TR_300, #TR_309, #TR_318, #TR_327, #TR_358, #TR_367, #TR_376, #TR_385, #TR_416, #TR_425, #TR_434, #TR_443, #TR_474, #TR_483, #TR_492, #TR_501, #TR_532, #TR_541, #TR_550, #TR_559, #TR_590, #TR_599, #TR_608, #TR_617, #TR_648, #TR_657, #TR_666, #TR_675*/

#TH_50 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: middle;
    visibility: hidden;
    width: 16.4375px;
    perspective-origin: 12.5px 14px;
    transform-origin: 12.5px 14px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TH_50*/

#TH_51, #TH_53 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: middle;
    width: 93.4375px;
    perspective-origin: 51px 14px;
    transform-origin: 51px 14px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TH_51, #TH_53*/

#TH_52, #TH_56 {
    border-collapse: collapse;
    height: 18.4375px;
    vertical-align: middle;
    width: -0.5625px;
    perspective-origin: 4px 14px;
    transform-origin: 4px 14px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TH_52, #TH_56*/

#TH_54 {
    border-collapse: collapse;
    display: none;
    height: auto;
    text-align: left;
    vertical-align: middle;
    width: 19%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 1%;
}/*#TH_54*/

#TH_55, #TH_57 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: middle;
    width: 46.4375px;
    perspective-origin: 27.5px 14px;
    transform-origin: 27.5px 14px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 15.6px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TH_55, #TH_57*/

#TBODY_58, #TBODY_174, #TBODY_290, #TBODY_406, #TBODY_522, #TBODY_638 {
    border-collapse: collapse;
    height: 170px;
    text-align: left;
    width: 429px;
    perspective-origin: 214.5px 85px;
    transform-origin: 214.5px 85px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#TBODY_58, #TBODY_174, #TBODY_290, #TBODY_406, #TBODY_522, #TBODY_638*/

#TR_59, #TR_104, #TR_117, #TR_162, #TR_175, #TR_220, #TR_233, #TR_278, #TR_291, #TR_336, #TR_349, #TR_394, #TR_407, #TR_452, #TR_465, #TR_510, #TR_523, #TR_568, #TR_581, #TR_626, #TR_639, #TR_684 {
    border-collapse: collapse;
    height: 19.4375px;
    text-align: left;
    vertical-align: middle;
    width: 420.438px;
    perspective-origin: 214.5px 14.5px;
    transform-origin: 214.5px 14.5px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TR_59, #TR_104, #TR_117, #TR_162, #TR_175, #TR_220, #TR_233, #TR_278, #TR_291, #TR_336, #TR_349, #TR_394, #TR_407, #TR_452, #TR_465, #TR_510, #TR_523, #TR_568, #TR_581, #TR_626, #TR_639, #TR_684*/

#TD_60, #TD_105, #TD_118, #TD_163, #TD_176, #TD_221, #TD_234, #TD_279, #TD_292, #TD_337, #TD_350, #TD_395, #TD_408, #TD_453, #TD_466, #TD_511, #TD_524, #TD_569, #TD_582, #TD_627, #TD_640, #TD_685 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 16.4375px;
    perspective-origin: 12.5px 14.5px;
    transform-origin: 12.5px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_60, #TD_105, #TD_118, #TD_163, #TD_176, #TD_221, #TD_234, #TD_279, #TD_292, #TD_337, #TD_350, #TD_395, #TD_408, #TD_453, #TD_466, #TD_511, #TD_524, #TD_569, #TD_582, #TD_627, #TD_640, #TD_685*/

#TD_61, #TD_63, #TD_106, #TD_108, #TD_119, #TD_121, #TD_164, #TD_166, #TD_177, #TD_179, #TD_222, #TD_224, #TD_235, #TD_237, #TD_280, #TD_282, #TD_293, #TD_295, #TD_338, #TD_340, #TD_351, #TD_353, #TD_396, #TD_398, #TD_409, #TD_411, #TD_454, #TD_456, #TD_467, #TD_469, #TD_512, #TD_514, #TD_525, #TD_527, #TD_570, #TD_572, #TD_583, #TD_585, #TD_628, #TD_630, #TD_641, #TD_643, #TD_686, #TD_688 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 93.4375px;
    perspective-origin: 51px 14.5px;
    transform-origin: 51px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_61, #TD_63, #TD_106, #TD_108, #TD_119, #TD_121, #TD_164, #TD_166, #TD_177, #TD_179, #TD_222, #TD_224, #TD_235, #TD_237, #TD_280, #TD_282, #TD_293, #TD_295, #TD_338, #TD_340, #TD_351, #TD_353, #TD_396, #TD_398, #TD_409, #TD_411, #TD_454, #TD_456, #TD_467, #TD_469, #TD_512, #TD_514, #TD_525, #TD_527, #TD_570, #TD_572, #TD_583, #TD_585, #TD_628, #TD_630, #TD_641, #TD_643, #TD_686, #TD_688*/

#TD_62, #TD_107, #TD_120, #TD_165, #TD_178, #TD_223, #TD_236, #TD_281, #TD_294, #TD_339, #TD_352, #TD_397, #TD_410, #TD_455, #TD_468, #TD_513, #TD_526, #TD_571, #TD_584, #TD_629, #TD_642, #TD_687 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: -0.5625px;
    perspective-origin: 4px 14.5px;
    transform-origin: 4px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_62, #TD_107, #TD_120, #TD_165, #TD_178, #TD_223, #TD_236, #TD_281, #TD_294, #TD_339, #TD_352, #TD_397, #TD_410, #TD_455, #TD_468, #TD_513, #TD_526, #TD_571, #TD_584, #TD_629, #TD_642, #TD_687*/

#TD_64, #TD_109, #TD_122, #TD_167, #TD_180, #TD_225, #TD_238, #TD_283, #TD_296, #TD_341, #TD_354, #TD_399, #TD_412, #TD_457, #TD_470, #TD_515, #TD_528, #TD_573, #TD_586, #TD_631, #TD_644, #TD_689 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 46.4375px;
    perspective-origin: 27.5px 14.5px;
    transform-origin: 27.5px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_64, #TD_109, #TD_122, #TD_167, #TD_180, #TD_225, #TD_238, #TD_283, #TD_296, #TD_341, #TD_354, #TD_399, #TD_412, #TD_457, #TD_470, #TD_515, #TD_528, #TD_573, #TD_586, #TD_631, #TD_644, #TD_689*/

#TD_65, #TD_110, #TD_123, #TD_168, #TD_181, #TD_226, #TD_239, #TD_284, #TD_297, #TD_342, #TD_355, #TD_400, #TD_413, #TD_458, #TD_471, #TD_516, #TD_529, #TD_574, #TD_587, #TD_632, #TD_645, #TD_690 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: -0.5625px;
    perspective-origin: 4px 14.5px;
    transform-origin: 4px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_65, #TD_110, #TD_123, #TD_168, #TD_181, #TD_226, #TD_239, #TD_284, #TD_297, #TD_342, #TD_355, #TD_400, #TD_413, #TD_458, #TD_471, #TD_516, #TD_529, #TD_574, #TD_587, #TD_632, #TD_645, #TD_690*/

#TD_66, #TD_111, #TD_124, #TD_169, #TD_182, #TD_227, #TD_240, #TD_285, #TD_298, #TD_343, #TD_356, #TD_401, #TD_414, #TD_459, #TD_472, #TD_517, #TD_530, #TD_575, #TD_588, #TD_633, #TD_646, #TD_691 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 46.4375px;
    perspective-origin: 27.5px 14.5px;
    transform-origin: 27.5px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_66, #TD_111, #TD_124, #TD_169, #TD_182, #TD_227, #TD_240, #TD_285, #TD_298, #TD_343, #TD_356, #TD_401, #TD_414, #TD_459, #TD_472, #TD_517, #TD_530, #TD_575, #TD_588, #TD_633, #TD_646, #TD_691*/

#TD_67 {
    border-collapse: collapse;
    height: 20.4375px;
    text-align: left;
    vertical-align: top;
    width: 65.4375px;
    perspective-origin: 37px 14.5px;
    transform-origin: 37px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_67*/

#TD_69, #TD_78, #TD_87, #TD_96, #TD_127, #TD_136, #TD_145, #TD_154, #TD_185, #TD_194, #TD_203, #TD_212, #TD_243, #TD_252, #TD_261, #TD_270, #TD_301, #TD_310, #TD_319, #TD_328, #TD_359, #TD_368, #TD_377, #TD_386, #TD_417, #TD_426, #TD_435, #TD_444, #TD_475, #TD_484, #TD_493, #TD_502, #TD_533, #TD_542, #TD_551, #TD_560, #TD_591, #TD_600, #TD_609, #TD_618, #TD_649, #TD_658, #TD_667, #TD_676 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 16.4375px;
    perspective-origin: 12.5px 14px;
    transform-origin: 12.5px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_69, #TD_78, #TD_87, #TD_96, #TD_127, #TD_136, #TD_145, #TD_154, #TD_185, #TD_194, #TD_203, #TD_212, #TD_243, #TD_252, #TD_261, #TD_270, #TD_301, #TD_310, #TD_319, #TD_328, #TD_359, #TD_368, #TD_377, #TD_386, #TD_417, #TD_426, #TD_435, #TD_444, #TD_475, #TD_484, #TD_493, #TD_502, #TD_533, #TD_542, #TD_551, #TD_560, #TD_591, #TD_600, #TD_609, #TD_618, #TD_649, #TD_658, #TD_667, #TD_676*/

#TD_70, #TD_72, #TD_79, #TD_81, #TD_88, #TD_90, #TD_97, #TD_99, #TD_128, #TD_130, #TD_137, #TD_139, #TD_146, #TD_148, #TD_155, #TD_157, #TD_186, #TD_188, #TD_195, #TD_197, #TD_204, #TD_206, #TD_213, #TD_215, #TD_244, #TD_246, #TD_253, #TD_255, #TD_262, #TD_264, #TD_271, #TD_273, #TD_302, #TD_304, #TD_311, #TD_313, #TD_320, #TD_322, #TD_329, #TD_331, #TD_360, #TD_362, #TD_369, #TD_371, #TD_378, #TD_380, #TD_387, #TD_389, #TD_418, #TD_420, #TD_427, #TD_429, #TD_436, #TD_438, #TD_445, #TD_447, #TD_476, #TD_478, #TD_485, #TD_487, #TD_494, #TD_496, #TD_503, #TD_505, #TD_534, #TD_536, #TD_543, #TD_545, #TD_552, #TD_554, #TD_561, #TD_563, #TD_592, #TD_594, #TD_601, #TD_603, #TD_610, #TD_612, #TD_619, #TD_621, #TD_650, #TD_652, #TD_659, #TD_661, #TD_668, #TD_670, #TD_677, #TD_679 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 93.4375px;
    perspective-origin: 51px 14px;
    transform-origin: 51px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_70, #TD_72, #TD_79, #TD_81, #TD_88, #TD_90, #TD_97, #TD_99, #TD_128, #TD_130, #TD_137, #TD_139, #TD_146, #TD_148, #TD_155, #TD_157, #TD_186, #TD_188, #TD_195, #TD_197, #TD_204, #TD_206, #TD_213, #TD_215, #TD_244, #TD_246, #TD_253, #TD_255, #TD_262, #TD_264, #TD_271, #TD_273, #TD_302, #TD_304, #TD_311, #TD_313, #TD_320, #TD_322, #TD_329, #TD_331, #TD_360, #TD_362, #TD_369, #TD_371, #TD_378, #TD_380, #TD_387, #TD_389, #TD_418, #TD_420, #TD_427, #TD_429, #TD_436, #TD_438, #TD_445, #TD_447, #TD_476, #TD_478, #TD_485, #TD_487, #TD_494, #TD_496, #TD_503, #TD_505, #TD_534, #TD_536, #TD_543, #TD_545, #TD_552, #TD_554, #TD_561, #TD_563, #TD_592, #TD_594, #TD_601, #TD_603, #TD_610, #TD_612, #TD_619, #TD_621, #TD_650, #TD_652, #TD_659, #TD_661, #TD_668, #TD_670, #TD_677, #TD_679*/

#TD_71, #TD_80, #TD_89, #TD_98, #TD_129, #TD_138, #TD_147, #TD_156, #TD_187, #TD_196, #TD_205, #TD_214, #TD_245, #TD_254, #TD_263, #TD_272, #TD_303, #TD_312, #TD_321, #TD_330, #TD_361, #TD_370, #TD_379, #TD_388, #TD_419, #TD_428, #TD_437, #TD_446, #TD_477, #TD_486, #TD_495, #TD_504, #TD_535, #TD_544, #TD_553, #TD_562, #TD_593, #TD_602, #TD_611, #TD_620, #TD_651, #TD_660, #TD_669, #TD_678 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: -0.5625px;
    perspective-origin: 4px 14px;
    transform-origin: 4px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_71, #TD_80, #TD_89, #TD_98, #TD_129, #TD_138, #TD_147, #TD_156, #TD_187, #TD_196, #TD_205, #TD_214, #TD_245, #TD_254, #TD_263, #TD_272, #TD_303, #TD_312, #TD_321, #TD_330, #TD_361, #TD_370, #TD_379, #TD_388, #TD_419, #TD_428, #TD_437, #TD_446, #TD_477, #TD_486, #TD_495, #TD_504, #TD_535, #TD_544, #TD_553, #TD_562, #TD_593, #TD_602, #TD_611, #TD_620, #TD_651, #TD_660, #TD_669, #TD_678*/

#TD_73, #TD_82, #TD_91, #TD_100, #TD_131, #TD_140, #TD_149, #TD_158, #TD_189, #TD_198, #TD_207, #TD_216, #TD_247, #TD_256, #TD_265, #TD_274, #TD_305, #TD_314, #TD_323, #TD_332, #TD_363, #TD_372, #TD_381, #TD_390, #TD_421, #TD_430, #TD_439, #TD_448, #TD_479, #TD_488, #TD_497, #TD_506, #TD_537, #TD_546, #TD_555, #TD_564, #TD_595, #TD_604, #TD_613, #TD_622, #TD_653, #TD_662, #TD_671, #TD_680 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 46.4375px;
    perspective-origin: 27.5px 14px;
    transform-origin: 27.5px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_73, #TD_82, #TD_91, #TD_100, #TD_131, #TD_140, #TD_149, #TD_158, #TD_189, #TD_198, #TD_207, #TD_216, #TD_247, #TD_256, #TD_265, #TD_274, #TD_305, #TD_314, #TD_323, #TD_332, #TD_363, #TD_372, #TD_381, #TD_390, #TD_421, #TD_430, #TD_439, #TD_448, #TD_479, #TD_488, #TD_497, #TD_506, #TD_537, #TD_546, #TD_555, #TD_564, #TD_595, #TD_604, #TD_613, #TD_622, #TD_653, #TD_662, #TD_671, #TD_680*/

#TD_74, #TD_83, #TD_92, #TD_101, #TD_132, #TD_141, #TD_150, #TD_159, #TD_190, #TD_199, #TD_208, #TD_217, #TD_248, #TD_257, #TD_266, #TD_275, #TD_306, #TD_315, #TD_324, #TD_333, #TD_364, #TD_373, #TD_382, #TD_391, #TD_422, #TD_431, #TD_440, #TD_449, #TD_480, #TD_489, #TD_498, #TD_507, #TD_538, #TD_547, #TD_556, #TD_565, #TD_596, #TD_605, #TD_614, #TD_623, #TD_654, #TD_663, #TD_672, #TD_681 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: -0.5625px;
    perspective-origin: 4px 14px;
    transform-origin: 4px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_74, #TD_83, #TD_92, #TD_101, #TD_132, #TD_141, #TD_150, #TD_159, #TD_190, #TD_199, #TD_208, #TD_217, #TD_248, #TD_257, #TD_266, #TD_275, #TD_306, #TD_315, #TD_324, #TD_333, #TD_364, #TD_373, #TD_382, #TD_391, #TD_422, #TD_431, #TD_440, #TD_449, #TD_480, #TD_489, #TD_498, #TD_507, #TD_538, #TD_547, #TD_556, #TD_565, #TD_596, #TD_605, #TD_614, #TD_623, #TD_654, #TD_663, #TD_672, #TD_681*/

#TD_75, #TD_84, #TD_93, #TD_102, #TD_133, #TD_142, #TD_151, #TD_160, #TD_191, #TD_200, #TD_209, #TD_218, #TD_249, #TD_258, #TD_267, #TD_276, #TD_307, #TD_316, #TD_325, #TD_334, #TD_365, #TD_374, #TD_383, #TD_392, #TD_423, #TD_432, #TD_441, #TD_450, #TD_481, #TD_490, #TD_499, #TD_508, #TD_539, #TD_548, #TD_557, #TD_566, #TD_597, #TD_606, #TD_615, #TD_624, #TD_655, #TD_664, #TD_673, #TD_682 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: center;
    vertical-align: top;
    width: 46.4375px;
    perspective-origin: 27.5px 14px;
    transform-origin: 27.5px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_75, #TD_84, #TD_93, #TD_102, #TD_133, #TD_142, #TD_151, #TD_160, #TD_191, #TD_200, #TD_209, #TD_218, #TD_249, #TD_258, #TD_267, #TD_276, #TD_307, #TD_316, #TD_325, #TD_334, #TD_365, #TD_374, #TD_383, #TD_392, #TD_423, #TD_432, #TD_441, #TD_450, #TD_481, #TD_490, #TD_499, #TD_508, #TD_539, #TD_548, #TD_557, #TD_566, #TD_597, #TD_606, #TD_615, #TD_624, #TD_655, #TD_664, #TD_673, #TD_682*/

#TD_76, #TD_85, #TD_103, #TD_134, #TD_152, #TD_192, #TD_210, #TD_250, #TD_268, #TD_308, #TD_326, #TD_366, #TD_384, #TD_424, #TD_442, #TD_482, #TD_500, #TD_540, #TD_558, #TD_598, #TD_616, #TD_656, #TD_674 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 65.4375px;
    perspective-origin: 37px 14px;
    transform-origin: 37px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_76, #TD_85, #TD_103, #TD_134, #TD_152, #TD_192, #TD_210, #TD_250, #TD_268, #TD_308, #TD_326, #TD_366, #TD_384, #TD_424, #TD_442, #TD_482, #TD_500, #TD_540, #TD_558, #TD_598, #TD_616, #TD_656, #TD_674*/

#TD_94, #TD_143, #TD_201, #TD_259, #TD_317, #TD_375, #TD_433, #TD_491, #TD_549, #TD_607, #TD_665 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 65.4375px;
    perspective-origin: 37px 14px;
    transform-origin: 37px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_94, #TD_143, #TD_201, #TD_259, #TD_317, #TD_375, #TD_433, #TD_491, #TD_549, #TD_607, #TD_665*/

#TD_112, #TD_125, #TD_170, #TD_183, #TD_228, #TD_241, #TD_286, #TD_299, #TD_344, #TD_357, #TD_402, #TD_415, #TD_460, #TD_473, #TD_518, #TD_531, #TD_576, #TD_589, #TD_634, #TD_647, #TD_692 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 65.4375px;
    perspective-origin: 37px 14.5px;
    transform-origin: 37px 14.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_112, #TD_125, #TD_170, #TD_183, #TD_228, #TD_241, #TD_286, #TD_299, #TD_344, #TD_357, #TD_402, #TD_415, #TD_460, #TD_473, #TD_518, #TD_531, #TD_576, #TD_589, #TD_634, #TD_647, #TD_692*/

#TBODY_113, #TBODY_171, #TBODY_229, #TBODY_287, #TBODY_345, #TBODY_403, #TBODY_461, #TBODY_519, #TBODY_577, #TBODY_635 {
    border-collapse: collapse;
    height: 11px;
    text-align: left;
    width: 429px;
    perspective-origin: 214.5px 5.5px;
    transform-origin: 214.5px 5.5px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#TBODY_113, #TBODY_171, #TBODY_229, #TBODY_287, #TBODY_345, #TBODY_403, #TBODY_461, #TBODY_519, #TBODY_577, #TBODY_635*/

#TR_114, #TR_172, #TR_230, #TR_288, #TR_346, #TR_404, #TR_462, #TR_520, #TR_578, #TR_636 {
    border-collapse: collapse;
    height: 1.4375px;
    text-align: left;
    vertical-align: middle;
    width: 420.438px;
    perspective-origin: 214.5px 5.5px;
    transform-origin: 214.5px 5.5px;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TR_114, #TR_172, #TR_230, #TR_288, #TR_346, #TR_404, #TR_462, #TR_520, #TR_578, #TR_636*/

#TD_115, #TD_173, #TD_231, #TD_289, #TD_347, #TD_405, #TD_463, #TD_521, #TD_579, #TD_637 {
    border-collapse: collapse;
    height: -0.5625px;
    text-align: left;
    vertical-align: top;
    width: 420.438px;
    perspective-origin: 214.5px 5.5px;
    transform-origin: 214.5px 5.5px;
    border-top: 3px solid rgb(204, 204, 204);
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_115, #TD_173, #TD_231, #TD_289, #TD_347, #TD_405, #TD_463, #TD_521, #TD_579, #TD_637*/

#TBODY_116, #TBODY_232, #TBODY_348, #TBODY_464, #TBODY_580 {
    border-collapse: collapse;
    height: 170px;
    text-align: left;
    width: 429px;
    perspective-origin: 214.5px 85px;
    transform-origin: 214.5px 85px;
    background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgb(204, 204, 204);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#TBODY_116, #TBODY_232, #TBODY_348, #TBODY_464, #TBODY_580*/

#TD_161, #TD_219, #TD_335, #TD_451, #TD_567, #TD_683 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 65.4375px;
    perspective-origin: 37px 14px;
    transform-origin: 37px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_161, #TD_219, #TD_335, #TD_451, #TD_567, #TD_683*/

#TD_277, #TD_393, #TD_625 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 65.4375px;
    perspective-origin: 37px 14px;
    transform-origin: 37px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_277, #TD_393, #TD_625*/

#TD_509 {
    border-collapse: collapse;
    height: 18.4375px;
    text-align: left;
    vertical-align: top;
    width: 65.4375px;
    perspective-origin: 37px 14px;
    transform-origin: 37px 14px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 4.28125px;
}/*#TD_509*/

#A_693 {
    color: rgb(134, 0, 0);
    display: block;
    height: 19px;
    text-align: center;
    text-decoration: none;
    width: 421.125px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 214.562px 13.5px;
    transform-origin: 214.562px 13.5px;
    border: 1px solid rgb(134, 0, 0);
    border-radius: 8px 8px 8px 8px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 20px 0px 0px;
    outline: rgb(134, 0, 0) none 0px;
    padding: 3px;
}/*#A_693*/

#STRONG_694 {
    color: rgb(134, 0, 0);
    text-align: center;
    column-rule-color: rgb(134, 0, 0);
    border: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#STRONG_694*/

#SCRIPT_698, #SCRIPT_706, #NOSCRIPT_716 {
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#SCRIPT_698, #SCRIPT_706, #NOSCRIPT_716*/

#DIV_699 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 30px 0px 40px;
}/*#DIV_699*/

#A_700, #A_701, #A_703 {
    color: rgb(134, 0, 0);
    text-align: justify;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_700, #A_701, #A_703*/

#A_702, #A_704 {
    color: rgb(134, 0, 0);
    text-align: justify;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_702, #A_704*/

#DIV_707 {
    height: 381.453px;
    text-align: justify;
    width: 429.125px;
    perspective-origin: 223.5px 190.719px;
    transform-origin: 223.5px 190.719px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 22.3438px 0px 0px;
    padding: 0px 8.9375px;
}/*#DIV_707*/

#H2_708 {
    color: rgb(134, 0, 0);
    height: 38px;
    text-align: justify;
    width: 399.094px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 199.547px 20.5px;
    transform-origin: 199.547px 20.5px;
    border-top: 0px none rgb(134, 0, 0);
    border-right: 0px none rgb(134, 0, 0);
    border-bottom: 1px solid rgb(134, 0, 0);
    border-left: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 19.5px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 21.4531px 12.8594px 8.57812px;
    outline: rgb(134, 0, 0) none 0px;
    padding: 0px 0px 2px;
}/*#H2_708*/

#OL_709 {
    display: none;
    height: auto;
    text-align: justify;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px 5%;
}/*#OL_709*/

#DIV_710 {
    height: 319px;
    text-align: justify;
    width: 411.969px;
    perspective-origin: 214.562px 159.5px;
    transform-origin: 214.562px 159.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 21.4531px 0px 0px;
    padding: 0px 8.57812px;
}/*#DIV_710*/

#DIV_711 {
    height: 319px;
    text-align: justify;
    width: 428.438px;
    perspective-origin: 214.219px 159.5px;
    transform-origin: 214.219px 159.5px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px -8.23438px;
}/*#DIV_711*/

#IFRAME_712 {
    height: 314px;
    min-width: 100%;
    text-align: justify;
    width: 428.438px;
    perspective-origin: 214.219px 157px;
    transform-origin: 214.219px 157px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#IFRAME_712*/

#IFRAME_713 {
    display: none;
    height: 18px;
    max-height: 18px;
    max-width: 852px;
    min-height: 18px;
    min-width: 852px;
    position: fixed;
    text-align: justify;
    top: 0px;
    width: 852px;
    z-index: 2147483646;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#IFRAME_713*/

#IFRAME_714 {
    bottom: 0px;
    display: none;
    height: 18px;
    max-height: 18px;
    max-width: 852px;
    min-height: 18px;
    min-width: 852px;
    position: fixed;
    text-align: justify;
    width: 852px;
    z-index: 2147483646;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#IFRAME_714*/

#BR_717 {
    clear: both;
    text-align: justify;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_717*/

#BR_718 {
    clear: both;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_718*/

#DIV_719 {
    height: 110px;
    width: 447px;
    perspective-origin: 223.5px 55.5px;
    transform-origin: 223.5px 55.5px;
    background: rgb(252, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(131, 0, 0);
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 50px 0px 0px;
}/*#DIV_719*/

#DIV_720 {
    height: 60px;
    width: 397px;
    perspective-origin: 223.5px 55px;
    transform-origin: 223.5px 55px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 25px;
}/*#DIV_720*/

#UL_721 {
    width: 397px;
    perspective-origin: 198.5px 0px;
    transform-origin: 198.5px 0px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_721*/

#LI_722 {
    float: left;
    height: 15px;
    width: 51.1406px;
    perspective-origin: 25.5625px 7.5px;
    transform-origin: 25.5625px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_722*/

#A_723, #A_725, #A_727, #A_729 {
    color: rgb(134, 0, 0);
    text-align: left;
    text-decoration: none;
    column-rule-color: rgb(134, 0, 0);
    border: 0px none rgb(134, 0, 0);
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(134, 0, 0) none 0px;
}/*#A_723, #A_725, #A_727, #A_729*/

#LI_724 {
    float: left;
    height: 15px;
    width: 60.75px;
    perspective-origin: 30.375px 7.5px;
    transform-origin: 30.375px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_724*/

#LI_726 {
    float: left;
    height: 15px;
    width: 73.4531px;
    perspective-origin: 36.7188px 7.5px;
    transform-origin: 36.7188px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_726*/

#LI_728 {
    float: left;
    height: 15px;
    width: 80.75px;
    perspective-origin: 40.375px 7.5px;
    transform-origin: 40.375px 7.5px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
}/*#LI_728*/

#BR_730 {
    clear: both;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#BR_730*/

#P_731 {
    clear: both;
    height: 30px;
    width: 397px;
    perspective-origin: 198.5px 15px;
    transform-origin: 198.5px 15px;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 10px 0px 0px;
}/*#P_731*/

#DIV_732 {
    text-align: left;
    width: 447px;
    perspective-origin: 223.5px 0px;
    transform-origin: 223.5px 0px;
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_732*/

#DIV_733, #DIV_737 {
    bottom: 10726px;
    left: 0px;
    position: absolute;
    right: 447px;
    text-align: left;
    top: -10000px;
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
    overflow: hidden;
}/*#DIV_733, #DIV_737*/

#DIV_734 {
    height: 302px;
    text-align: left;
    perspective-origin: 0px 151px;
    transform-origin: 0px 151px;
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_734*/

#IFRAME_735, #IFRAME_736 {
    text-align: left;
    perspective-origin: 150px 75px;
    transform-origin: 150px 75px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#IFRAME_735, #IFRAME_736*/

#DIV_738 {
    text-align: left;
    font: normal normal normal normal 11px / 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}/*#DIV_738*/

#IFRAME_739 {
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 2px inset rgb(0, 0, 0);
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
}/*#IFRAME_739*/

#FORM_740 {
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal normal normal 13px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#FORM_740*/

.smash-icon{
    background: url('../img/SmashBallAnimation.gif');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -70px;
    right: 26%;
    padding: 23%;
    z-index: 0;
    opacity: 0.24;
}

.header-outer-sign{
    padding-top: 3rem;
    padding-bottom: 4.5rem;
}

.header-inner-sign{
    display: block;
    max-width: 431px;
    width: 431px;
    padding: 5%;
    position: relative;
    margin: 0 auto;
    background: url('../img/verb-logo-1.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.header-inner-left-sign{
    position: absolute;
    top: 40px;
    left: 40px;
    display: block;
    max-width: 200px;
    width: 200px;
    height: 200px;
    background: url('../img/bow-jr.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-inner-right-sign{
    position: absolute;
    top: 40px;
    right: 20px;
    display: block;
    max-width: 200px;
    width: 130px;
    height: 200px;
    background: url('../img/bow-jr.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-inner-sign a{
    color: transparent;
}

body{
    background: url('../img/lvl.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

span.t-caret{
    display: none;
}

del{
    text-decoration: none;
}

html {
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.2s; /* Firefox < 16 */
        -ms-animation: fadein 1.2s; /* Internet Explorer */
         -o-animation: fadein 1.2s; /* Opera < 12.1 */
            animation: fadein 1.2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

mark.pink{
    color: #2323b0;
}

.go-bk{
    text-align: center;
    padding: 1rem;
    position: relative;
    top: 1rem;
}

.go-bk a{
    padding: 1rem;
    font: normal normal normal normal 11px / normal "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #0b78ed;
}

#DIV_41 {
    width: 100%;
    margin: 0 auto;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    max-width: 60rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 28px -1px;
    padding: 0 2rem;
    // height: calc(100vh + 2rem);
    height: 100%;
    position: relative;
    background: rgba(255,255,255,0.86);
    height: 100%;
    min-height: 45.625rem;
    padding-bottom: 2rem;
}/*#DIV_41*/


#TABLE_47 {
    border-collapse: collapse;
    height: 100%;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    perspective-origin: 254.5px 752px;
    transform-origin: 254.5px 752px;
    border-bottom: 3px solid rgb(204, 204, 204);
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 0.390625px;
}/*#TABLE_46*/

#TD_67 {
    border-collapse: collapse;
    height: 20.8438px;
    text-align: left;
    vertical-align: top;
    width: 72.8438px;
    perspective-origin: 41.5px 15.5px;
    transform-origin: 41.5px 15.5px;
    border-spacing: 2px 2px;
    font: normal normal normal normal 13px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    padding: 5.07812px;
    border-top: 3px solid rgb(204, 204, 204);
}/*#TD_66*/

#H2_43, #H2_173 {
    color: rgb(134, 0, 0);
    height: 19px;
    text-align: justify;
    width: 810.797px;
    column-rule-color: rgb(134, 0, 0);
    perspective-origin: 405.391px 11px;
    transform-origin: 405.391px 11px;
    border-top: 0px none rgb(134, 0, 0);
    border-right: 0px none rgb(134, 0, 0);
    border-bottom: 1px solid rgb(134, 0, 0);
    border-left: 0px none rgb(134, 0, 0);
    font: normal normal bold normal 19.5px / 19px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    margin: 0px 42.6719px 25.5938px 0px;
    outline: rgb(134, 0, 0) none 0px;
    padding: 0px 0px 2px;
    text-align: center;
    width: 100%;
    padding-bottom: 0.4rem;
    color: grey;
}/*#H2_43, #H2_173*/